@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="/Content/login/login.css" rel="stylesheet" type="text/css" />
<link href="/Content/login/style.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
	$(function() {
		$('.login .info input[title!=""]').focus(function() {
			var t = $(this);
			if (t.hasClass('tip')) {
				t.removeClass('tip').val('').attr('type', t.data('ot'));
			}
		}).blur(function() {
			var t = $(this);
			if (t.val() == '') {
				t.addClass('tip').val(t.attr('title')).data('ot', t.attr('type')).attr('type', 'text');
			}
		}).each(function() {
			var t = $(this);
			if (!t.attr('value')) {
				t.addClass('tip').val(t.attr('title')).data('ot', t.attr('type')).attr('type', 'text');
			}
		});
	})
	function guestLogin() {
		$('.login input[name=account],.login input[name=password]').val('!guest!');
		$('.login form').submit();
	}
</script>
</head>
<body>
	<div class="header">
		<a href="/"><img src="/Images/login/cp_index_logo.png" alt="98彩票网" />
		</a>
	</div>
	<div class="main">
		<div class="panel">
			<div class="login">
			<a target="_blank" href="#" class="support"></a>
				<form action="login" method="post">
					
					<div class="info username">
						<label>账号</label><input type="text" name="account" title="请输入您的账号">
					</div>
					<div class="info password">
						<label>密码</label><input type="password" name="password" title="您的密码">
					</div>
					<div class="login_bu">
						<input type="submit" class="enter" value="登录" /> <input type="button" class="reg" value="注册" onclick="location.href='Register'" /> <input
							type="button" class="test" onclick="guestLogin();" />
					</div>
				</form>
			</div>
			<div class="c_logo">
				<img src="/Images/login/SG-win.png" alt="support"/>
			</div>
		</div>
	</div>
</body>
</html>
