
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="icon" type="image/x-icon" href="/nomain98/images/index/favicon.ico" />
<title>Welcome</title>

<link rel="stylesheet" type="text/css" href="/Content/main/main.css" />
<link rel="stylesheet" type="text/css" href="/Content/main/balls.css" />
</head>
<body class="skin_red">
<div id="header" class="header">
<div class="logo"><img src="/Images/main/cp_mb_logo.png" alt="98彩票网" /></div>
<div class="top">
<div class="menu">
  <div class="menu1"> 
        <div id="result_info" class="draw_number"></div>
        <a id="result_balls" target="_blank"></a>
  </div>
  <div class="menu2">
    <span><a target="frame" href="bets">未结明细</a></span> |
    <span><a href="bets?settled=true" target="frame">今天已结</a></span> |
    <span><a href="history" target="frame">报表查询</a></span> |
    <span><a href="dresult?lottery={lottery}" target="frame">开奖结果</a></span> <br/>
    <span><a target="frame" href="info?lottery={lottery}">个人资讯</a></span> |
  	<span><a target="frame" href="password">修改密码</a></span> |
  	<span><a href="rule?lottery={lottery}" target="frame">游戏规则</a></span> |
    <span id="skinPanel"><a href="javascript:void(0)">更换皮肤</a></span> 
  </div>
  <div class="menu4"><a target="_blank" href="#" class="support"></a></div>
  <div class="menu3"><a href="logout" class="logout"></a></div>
  <div style="clear:both;"></div>
</div>
<div class="lotterys">
<div id="lotterys" style="display: none">
<a href="javascript:void(0)" id="l_BJPK10" lang="PK10_0"><span>北京赛车(PK10)</span></a>
<a href="javascript:void(0)" id="l_CQSSC" lang="SSC_0"><span>重庆时时彩</span></a>
<a href="javascript:void(0)" id="l_BJKL8" lang="KL8_0"><span>北京快乐8</span></a>
<a href="javascript:void(0)" id="l_GXK3" lang="K3_0"><span>广西快3</span></a>
<a href="javascript:void(0)" id="l_GXKLSF" lang="GXKLSF_0"><span>广西快乐十分</span></a>
<a href="javascript:void(0)" id="l_GD11X5" lang="11X5_0"><span>广东11选5</span></a>
<a href="javascript:void(0)" id="l_HK6" lang="HK6_2"><span>香港六合彩</span></a>
<a href="javascript:void(0)" id="l_XJSSC" lang="SSC_0"><span>新疆时时彩</span></a>
<a href="javascript:void(0)" id="l_TJSSC" lang="SSC_0"><span>天津时时彩</span></a>
<a href="javascript:void(0)" id="l_GDKLSF" lang="KLSF_0"><span>广东快乐十分</span></a>
<a href="javascript:void(0)" id="l_F3D" lang="3D_1"><span>福彩3D</span></a>
<a href="javascript:void(0)" id="l_PL3" lang="3D_1"><span>体彩排列3</span></a>
<a href="javascript:void(0)" id="l_XYNC" lang="KLSF_0"><span>重庆幸运农场</span></a>
</div>
<div class="show"></div>
<a class="more_game"><span>更多游戏 </span></a>
<a class="setting">设置</a>
<a class="home" target="_blank" href="/index">返回首页</a>
</div>
<div class="sub">
<div style="display:none"><a href="load?lottery=BJPK10&page=lm">两面盘</a> |
<a href="load?lottery=BJPK10&page=110">单号1 ~ 10</a> |
<a href="load?lottery=BJPK10&page=gy">冠亚军组合</a></div>
<div style="display:none"><a href="load?lottery=CQSSC&page=lm">整合</a> |
<a href="load?lottery=CQSSC&page=ball&index=1">第一球</a> |
<a href="load?lottery=CQSSC&page=ball&index=2">第二球</a> |
<a href="load?lottery=CQSSC&page=ball&index=3">第三球</a> |
<a href="load?lottery=CQSSC&page=ball&index=4">第四球</a> |
<a href="load?lottery=CQSSC&page=ball&index=5">第五球</a></div>
<div style="display:none"><a href="load?lottery=BJKL8&page=all">总和、比数、五行</a> |
<a href="load?lottery=BJKL8&page=balls">正码</a></div>
<div style="display:none"><a href="load?lottery=GXK3&page=all">大小骰宝</a> |
<a href="load?lottery=GXK3&page=yxx">鱼虾蟹骰宝</a></div>
<div style="display:none"><a href="load?lottery=GXKLSF&page=lm">两面</a> |
<a href="load?lottery=GXKLSF&page=15">单号1~5</a> |
<a href="load?lottery=GXKLSF&page=ball&index=1">第一球</a> |
<a href="load?lottery=GXKLSF&page=ball&index=2">第二球</a> |
<a href="load?lottery=GXKLSF&page=ball&index=3">第三球</a> |
<a href="load?lottery=GXKLSF&page=ball&index=4">第四球</a> |
<a href="load?lottery=GXKLSF&page=ball&index=5">第五球</a></div>
<div style="display:none"><a href="load?lottery=GD11X5&page=lm">两面</a> |
<a href="load?lottery=GD11X5&page=dh">单号</a> |
<a href="load?lottery=GD11X5&page=mp">连码</a> |
<a href="load?lottery=GD11X5&page=zx&index=2">直选</a></div>
<div style="display:none"><a href="load?lottery=HK6&page=tm">特码</a> |
<a href="load?lottery=HK6&page=lm">两面</a> |
<a href="load?lottery=HK6&page=sb">色波</a> |
<a href="load?lottery=HK6&page=12sx">特肖</a> |
<a href="load?lottery=HK6&page=hx">合肖</a> |
<a href="load?lottery=HK6&page=tws">头尾数</a> |
<a href="load?lottery=HK6&page=zma">正码</a> |
<a href="load?lottery=HK6&page=zmt">正码特</a> |
<a href="load?lottery=HK6&page=zm16">正码1-6</a> |
<a href="load?lottery=HK6&page=wx">五行</a> |
<!-- <a href="load?lottery=HK6&page=zmgg">正码过关</a> | -->
<a href="load?lottery=HK6&page=yx">平特一肖尾数</a> |
<a href="load?lottery=HK6&page=zx">正肖</a> |
<a href="load?lottery=HK6&page=7sb">7色波</a> |
<a href="load?lottery=HK6&page=zsx">总肖</a> |
<a href="load?lottery=HK6&page=zxbz">自选不中</a> |
<a href="load?lottery=HK6&page=dpelx">连肖连尾</a> |
<a href="load?lottery=HK6&page=mp">连码</a></div>
<div style="display:none"><a href="load?lottery=XJSSC&page=lm">整合</a> |
<a href="load?lottery=XJSSC&page=ball&index=1">第一球</a> |
<a href="load?lottery=XJSSC&page=ball&index=2">第二球</a> |
<a href="load?lottery=XJSSC&page=ball&index=3">第三球</a> |
<a href="load?lottery=XJSSC&page=ball&index=4">第四球</a> |
<a href="load?lottery=XJSSC&page=ball&index=5">第五球</a></div>
<div style="display:none"><a href="load?lottery=TJSSC&page=lm">整合</a> |
<a href="load?lottery=TJSSC&page=ball&index=1">第一球</a> |
<a href="load?lottery=TJSSC&page=ball&index=2">第二球</a> |
<a href="load?lottery=TJSSC&page=ball&index=3">第三球</a> |
<a href="load?lottery=TJSSC&page=ball&index=4">第四球</a> |
<a href="load?lottery=TJSSC&page=ball&index=5">第五球</a></div>
<div style="display:none"><a href="load?lottery=GDKLSF&page=lm">两面盘</a> |
<a href="load?lottery=GDKLSF&page=balls">单球1～8</a> |
<a href="load?lottery=GDKLSF&page=ball&index=1">第一球</a> |
<a href="load?lottery=GDKLSF&page=ball&index=2">第二球</a> |
<a href="load?lottery=GDKLSF&page=ball&index=3">第三球</a> |
<a href="load?lottery=GDKLSF&page=ball&index=4">第四球</a> |
<a href="load?lottery=GDKLSF&page=ball&index=5">第五球</a> |
<a href="load?lottery=GDKLSF&page=ball&index=6">第六球</a> |
<a href="load?lottery=GDKLSF&page=ball&index=7">第七球</a> |
<a href="load?lottery=GDKLSF&page=ball&index=8">第八球</a> |
<a href="load?lottery=GDKLSF&page=zm">正码</a> |
<a href="load?lottery=GDKLSF&page=mp">连码</a></div>
<div style="display:none"><a href="load?lottery=F3D&page=lm">主势盘</a> |
<a href="load?lottery=F3D&page=1z">一字组合</a> |
<a href="load?lottery=F3D&page=2z">二字组合</a> |
<a href="load?lottery=F3D&page=3z">三字组合</a> |
<a href="load?lottery=F3D&page=1zdw">一字定位</a> |
<a href="load?lottery=F3D&page=2zdw&index=0">二字定位</a> |
<a href="load?lottery=F3D&page=3zdw">三字定位</a> |
<a href="load?lottery=F3D&page=2zhs&index=12">二字和数</a> |
<a href="load?lottery=F3D&page=3zhs">三字和数</a> |
<a href="load?lottery=F3D&page=zx3">组选三</a> |
<a href="load?lottery=F3D&page=zx6">组选六</a> |
<a href="load?lottery=F3D&page=kd">跨度</a></div>
<div style="display:none"><a href="load?lottery=PL3&page=lm">主势盘</a> |
<a href="load?lottery=PL3&page=1z">一字组合</a> |
<a href="load?lottery=PL3&page=2z">二字组合</a> |
<a href="load?lottery=PL3&page=3z">三字组合</a> |
<a href="load?lottery=PL3&page=1zdw">一字定位</a> |
<a href="load?lottery=PL3&page=2zdw&index=0">二字定位</a> |
<a href="load?lottery=PL3&page=3zdw">三字定位</a> |
<a href="load?lottery=PL3&page=2zhs&index=12">二字和数</a> |
<a href="load?lottery=PL3&page=3zhs">三字和数</a> |
<a href="load?lottery=PL3&page=zx3">组选三</a> |
<a href="load?lottery=PL3&page=zx6">组选六</a> |
<a href="load?lottery=PL3&page=kd">跨度</a></div>
<div style="display:none"><a href="load?lottery=XYNC&page=lm">两面盘</a> |
<a href="load?lottery=XYNC&page=balls">单球1～8</a> |
<a href="load?lottery=XYNC&page=ball&index=1">第一球</a> |
<a href="load?lottery=XYNC&page=ball&index=2">第二球</a> |
<a href="load?lottery=XYNC&page=ball&index=3">第三球</a> |
<a href="load?lottery=XYNC&page=ball&index=4">第四球</a> |
<a href="load?lottery=XYNC&page=ball&index=5">第五球</a> |
<a href="load?lottery=XYNC&page=ball&index=6">第六球</a> |
<a href="load?lottery=XYNC&page=ball&index=7">第七球</a> |
<a href="load?lottery=XYNC&page=ball&index=8">第八球</a> |
<a href="load?lottery=XYNC&page=zm">正码</a> |
<a href="load?lottery=XYNC&page=mp">连码</a></div>
</div>
</div>
</div>
<div id="main">
<div class="side_left" id="side">
<div class="user_info">
<div class="title">账户信息</div>

<div class="zhanghu" id="account">
<div class="info"><label>账号：</label><span>试玩</span></div>
<div class="info"><label>额度：</label><span class="balance">2000</span></div>
<div class="info"><label>未结算金额：</label><span class="betting">0</span></div>
</div>
</div>
<div class="betdone" id="drawOfficial">

</div><div class="betdone" id="lastBets">
<div class="title"><span>最新注单</span></div>
<ul class="bets">
</ul>
</div>
<div style="display:none" id="betResultPanel">

<div class="control s0">
<a onclick="resetPanel()" href="javascript:void(0)">返 回</a>
</div>
<div id="betResultDrawNumber" class="title"></div>
<div class="bresults">
<ul class="bets" id="betReulstList"></ul>
<table class="total s0">
<tbody><tr><td class="label">下注金额</td><td id="betResultCount"></td></tr>
<tr><td class="label">合计金额</td><td id="betResultTotal"></td></tr>
</tbody></table>
</div>
</div>

</div>

<div class="frame"><iframe id="frame" name="frame" frameborder="0"></iframe></div>
</div>
<div id="footer"><div class="info"><marquee id="notices" scrollamount="2"></marquee></div><a href="javascript:void(0)" class="more">更多</a></div>
</body>
</html>
