<!DOCTYPE html>
<html lang="zh">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
    </head>
    <body>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
        @RenderSection("featured", required: false)
        @RenderBody()
    </body>
</html>
